@import "scss/_colors.scss";

//dočasný obrázek
$background: "images/unknown.png";
//$background: "images/jessica-ruscello-OQSCtabGkSY-unsplash-min.jpg";

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

// @import "scss/_scrollbar.scss";

// @import "scss/_headerForm.scss";

@import "scss/_mainEachTeacher.scss";

// @import "scss/_footer.scss";

// @import "scss/_footerResp.scss";
