@import "scss/_colors.scss";

* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}

@import "scss/_scrollbar.scss";

@import "scss/_headerForm.scss";

@import "scss/_mainEachTeacher.scss";

@import "scss/_footer.scss";

@import "scss/_footerResp.scss";
